
@font-face {
  font-family: "Open Sans";
  src: url("../fonts//OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Semibold.woff2") format("woff2"),
    url("../fonts/OpenSans-Semibold.woff") format("woff"),
    url("../fonts/OpenSans-Semibold.ttf") format("truetype"),
    url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff"),
    url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans.woff2") format("woff2"),
    url("../fonts/OpenSans.woff") format("woff"),
    url("../fonts/OpenSans.ttf") format("truetype"),
    url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal;
}
h2,
h3,
h4,
h1 {
  margin: 0;
}

* {
  box-sizing: border-box;
}
p {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.intro {
  background: url("../img/Layer_1.jpg") no-repeat ;
  background-position: center;
  background-size: cover;
  padding: 10px 20px 58px 0;
}
.container {
  width: 961px;
  margin: auto;
}
.intro__header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.intro__cloud {
  position: relative;
  padding: 13px 20px 20px 20px;
  width: 479px;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 10px;
  text-align: right;
}
.intro__cloud::after {
  content: "";
  position: absolute;
  top: 75px;
  left: -16px;
  border-top: 15px solid transparent;
  border-right: 16px solid #ffffff;
  border-bottom: 15px solid transparent;
  opacity: 0.8;
}
.intro__cloud--text > h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #000000;
  letter-spacing: -0.2px;
  line-height: 48px;
}
.intro__cloud--uppercase {
  color: #bb1d1f;
  letter-spacing: 1.8px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 36px;
  font-weight: bold;
}
.intro__cloud--telephone{
  color: #000000;
  font-family: "Open Sans - Condensed Bold", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 64px;
  text-align: right;
  letter-spacing: -1px;
  background-image: linear-gradient(to right, black 50% , white 50%);
  background-position: left bottom;
  background-size: 25px 3px;
  background-repeat: repeat no-repeat;
}
.intro__cloud--telephone:hover{
opacity: 0.6;
}
.intro_main {
  width: 100%;
}
.intro__info {
  width: 100%;
  margin-bottom: 57px;
  display: flex;
  flex-direction: column;
}
.intro__info > p {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.36px;
  font-size: 36px;
  font-weight: 300;
  line-height: 60px;
  text-transform: uppercase;
  color: #000000;
}
.intro__info mark{
  background-color: #fff;
  padding-left: 30px;
  padding-right: 33px;
  padding-top: 5px ;
    padding-bottom: 5px ;
}
.intro__main--content span ,
.intro__main--footer span{
  color: #bb1d1f;
  font-family: "Open Sans - Semibold", sans-serif;
  font-weight: 500;
} 
.intro__main--header,
.intro__main--content{
  margin-bottom:10px;
  align-self: flex-start;
}
.intro__main--content span{
  padding: 0 12px 0 0;
}
.intro__main--footer span{
  padding: 0 0 0 12px;
}
/* input */
#intro__name {
  display: block;
  outline: none;
  background-color: transparent;
  font-size: 36px;
  width: 480px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
  font-family: "Open Sans", sans-serif;
  padding-left: 40px;
}
#intro__number {
  display: block;
  outline: none;
  background-color: transparent;
  font-size: 36px;
  width: 480px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
  font-family: "Open Sans", sans-serif;
    padding-left: 40px;
}
#submit {
  padding: 12px 22px 12px 22px;
  width: 277px;
  background-color: #bb1d1f;
  color: white;
  border-radius: 10px;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
}
.intro__name>label,
 .intro__number>label{
  color: #bb1d1f;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 900;
  padding-left: 10px;
  position: absolute;
}
.intro__name{
  margin-bottom: 20px;
  position:relative;
}
.intro__number{
    margin-bottom: 40px;
  position:relative;
}
 #intro__name::placeholder,
#intro__number::placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  padding: 0;
  font-weight: 300;
  text-transform: uppercase;
} 
#intro__name:focus::placeholder,
#intro__number:focus::placeholder {
  color: transparent;
}
.work {
  width: 100%;
  padding: 57px 0 50px 0;
}
.title > h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.48px;
  margin-bottom: 70px;
}
.work__row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work__column {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 20px;
}
.work__column--text {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
width: 160px;
}
.work__column--text > span {
  color: #000000;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.16px;
}
.work__column--some {
  color: #bb1d1f;
}
.plus {
  margin: 0;
  background-color: #f7f7f7;
  padding: 67px 0 80px 0;
}
.plus__caption {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.48px;
  margin-bottom: 75px;
}
.plus__link > ul {
  list-style-image: url("../img/checkbox.png");
  margin-left: 40px;
}
.plus__link > ul > li {
  color: #000000;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  padding-left: 20px;
}
.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 84px 0px 94px 0px;
}
.title > h3 {
  padding-left: 150px;
  margin-bottom: 27px;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.28px;
}
.info__text {
  position: relative;
  margin: auto;
  width: 840px;
  padding: 20px 50px 20px 50px;
  border: 3px solid #ff9c00;
  border-radius: 15px;
}
.info__text::before {
  content: "!";
  display: block;
  position: absolute;
  top:-210px;
  left: 15px;
  color: #000000;
  font-family: "Open Sans Condensed", sans-serif ;
font-size: 260px;
font-weight: 600;
}
.info__text--header {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
.info__text--content {
  font-family: "Open Sans Semi Bold", sans-serif;
  font-weight: 600;
  padding-bottom: 25px;
  text-align: center;
  font-size: 18px;
}
.info__text--footer {
  font-family: "Open Sans Semi Bold", sans-serif;
  font-weight: 600;
  text-align: center;
  word-spacing: 1px;
  font-size: 18px;
}
.info__text > hr {
  height: 3px;
  background-color: #000000;
  width: 110px;
  border: none;
}
.form {
  width: 100%;
  background-color: #bb1d1f;
  padding: 37px 0 42px 0;
}
.title > h4 {
  margin-bottom: 35px;
  color: #ffffff;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.24px;
  text-align: center;
}
.form__input--name {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
#form__input--name,
#form__input--number {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  width: 340px;
  height: 40px;
  border: none;
  box-sizing: border-box;
}
#form__input--name::placeholder,
#form__input--number::placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
#form__input--name:focus::placeholder,
#form__input--number:focus::placeholder {
  color: transparent;
}
#form__input--submit {
  width: 240px;
  background-color: #bb1d1f;
  border: 2px solid white;
  color: #ffffff;
}
.footer {
  width: 100%;
  padding: 35px 0 41px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__title {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__logo:hover {
  opacity: 0.6;
}
.footer__title > p {
  color: #000000;
  font-family: "Open Sans - Condensed Bold", sans-serif;
  font-size: 17px;
  font-weight: 600;
  word-spacing: 2px;
}
.footer__aside {
  width: 190px;

}
.footer__aside:hover {
  opacity: 0.6;
}
.footer__aside > p {
  top: 20px;
  color: #9b9b9b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
}
