@font-face {
    font-family: 'Open Sans Condensed';
    src: url('OpenSans-CondensedBold.woff2') format('woff2'),
        url('OpenSans-CondensedBold.ttf') format('truetype'),
        url('OpenSans-CondensedBold.svg#OpenSans-CondensedBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('OpenSans-CondensedLight.woff2') format('woff2'),
        url('OpenSans-CondensedLight.ttf') format('truetype'),
        url('OpenSans-CondensedLight.svg#OpenSans-CondensedLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

